@import "_variables.scss";

*{
    margin:0px;
    padding:0px; 
    box-sizing: border-box;
}

body{
    background-color: $white-fff;

    .underline-header{
        width: 100%;
        border: 1px solid $greyBorder;
        margin-bottom: 20px;
    }
}