// VARIABLES
$lato: "Lato", serif;



header{
    width:100%;
    height:100px;
    background-color: #fbfafa;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-bottom: 20px;
    padding: 0 10px;
    
    a{
        img{
            width: 200px;
            height: 52px;
        }
    }

    .iconMenu{
        height: 45px;
        width: 45px;
        background: #9793ff;
        color: #fff;
        font-size: 33px;
        border-radius: 4px;
        text-align: center;
        padding-top: 6px;
        cursor:pointer;
    }

    .container-menu{
        display:none;
        width: 100%;
        position:absolute;
        top:100px;
        left:0px;
        height: auto;
        background-color:#242424;

        &.display{
        display:block;              
        }

        ul{

            list-style: none;

            li{

                height: 40px;
                width:100%;
                box-shadow: 0px 1px 0px #ffffff1a;

                &:hover{
                    background-color:#7c78e2;
                }
                    
                a{
                    display: block;
                    width:70%;
                    height: 100%;
                    padding-top: 8px;
                    padding-left: 8px;
                    color:#ffffff;
                    font-family:lato;
                    font-size: 18px;
                    text-decoration: none;
                    transition: all 400ms;

                    &:hover{

                        color: #ff5b56;
                    
                    }
                        
                }
            }
        }
    } 
}
   
@media(min-width:775px){
    header{
        background:#fbfafa;
        width:85%;
        padding-right:0px;
        .iconMenu{
            display:none;
        }

        .container-menu{
            display:block;
            position:initial;
            width:500px;
            background:none;
            margin-left: 30px;

            ul{
                display:flex;
                flex-direction:row;
                justify-content:space-between;

                li{
                    width:auto;
                    padding-top: 7px;

                    &:hover{
                        background-color:#fbfafa;
                    }
                    a{
                        display:inline;
                        padding:0px;
                        color:#242424;

                    }
                }
            }
        }
    }
}








