@import "_variables.scss";

header{
    width:100%;
    height:100px;
    background-color: $whiteBackground;
    div{
        width:92%;
        max-width:1080px;
        height:100%;
        margin:0px auto;
        display:flex;
        justify-content: space-between;
        align-items: center;    
    
        a{
            img{
                width: 200px;
                height: 52px;
            }
        }

        .iconMenu{
            height: 45px;
            width: 45px;
            background: $bluePurple;
            color: $white-fff;
            font-size: 33px;
            border-radius: 4px;
            text-align: center;
            padding-top: 6px;
            cursor:pointer;
        }

        .container-menu{
            display:none;
            width: 100%;
            position:absolute;
            top:100px;
            left:0px;
            height: auto;
            background-color: $black;

            &.display{
                display:block;              
            }

            ul{
                list-style: none;

                li{
                    height: 40px;
                    width:100%;
                    box-shadow: 0px 1px 0px #ffffff1a;

                    &:hover{
                        background-color:$hoverLi;
                    }

                    a{
                        display: block;
                        width:70%;
                        height: 100%;
                        padding-top: 8px;
                        padding-left: 8px;
                        color: $white-fff;
                        font-family:lato;
                        font-size: 18px;
                        font-weight: 300;
                        text-decoration: none;
                        transition: all 400ms;

                        &:hover{
                            color: $salmon;
                        }
                    }
                }
            }

        }
    }
}
   
@media(min-width:775px){

    header{
        div{
            width:80%;
            
            .iconMenu{
                display:none;
            }

            .container-menu{
                display:block;
                position:initial;
                width:500px;
                background:none;
                margin-left: 30px;
                ul{
                    display:flex;
                    flex-direction:row;
                    justify-content:space-between;
                    li{
                        width:auto;
                        padding-top: 7px;

                        &:hover{
                            background:none;
                        }
                        a{
                            display:inline;
                            padding:0px;
                            color:$black;
                        }
                    }
                }
            }
        }
    }
}








