h1{
    width: 100%;
    padding:0 12px;
    text-align: left;
    height: auto;
    margin: 0 auto;
    color: #343434;
    font-size: 33px;
    font-family: 'Lato';
    // border-bottom:1px solid;
}


@media(min-width:775px){
    h1{
        width: 85%;
    }
}



