// HEADER COLORS

$whiteBackground:#fbfafa;
$greyBorder:#dfdbdb;
$white-fff:#ffffff;
$bluePurple:#9793ff;
$black:#242424;
$black34:#343434;
$blackP:#414141;
$hoverLi:#7c78e2;
$salmon:#ff5b56;
$lightgray:#646464;
$odd-rows:#f1f1f1;
$even-rows:#f9f9f9;
$color-price-text:#646464;

// FONTS

$lato: "Lato", serif;


// BORDERS

$border-box:1px solid #dadada;
$border-radius:4px;